.cardStyle {
  width: 11rem;
  margin: 3px;
}

.cardBodyStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addMemoirButton {
  font-size: 35px;
  cursor: pointer;

  &:hover {
    font-size: 37px;
  }
}
